.project
.pydevproject
_site/*
_status/*
archive/2014
archive/2015
archive/2016
archive/2017
archive/2018
archive/2019
archive/2020
archive/2021
archive/2022
media/*
scripts/*.json
scripts/windows/.jekyll*
source/*
